.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Roboto" sans-serif;
  color: #fff;
}

.hero__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
}

.hero__title {
  margin: 0;
  margin-top: 200px;
  margin-bottom: 35px;
  /* text-shadow: 3px 3px 2px #940202; */
}

.hero__description {
  align-self: flex-start;
  line-height: 24px;
  font-style: italic;
  font-size: 18px;
}

.hero__blurred {
  position: absolute;
  background-image: url(../../images/hero_quesadilla.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hero__focused {
  background-image: url(../../images/hero_quesadilla.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  clip-path: circle(270px at 72% 50%);
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hero__shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: .4;
  z-index: -1;
}

@media screen and (max-width: 835px) {
  .hero__info {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 495px) {
  .hero__title {
    text-align: center;
  }

  .hero__description {
    text-align: justify;
  }

  .hero__title {
    margin-top: 150px;
    margin-bottom: 20px;
  }
}