.popup {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.popup {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup__shadow {
  position: fixed;
  top: -90px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dark-text);
  opacity: 0.6;
}

.popup__content {
  position: relative;
  width: 80%;
  height: auto;
  color: #fff;
  text-align: center;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 0 20px var(--dark-text);
}

.popup__content-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.popup__content-title {
  margin: 0 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.popup__content-description {
  margin: 0 10px;
}

.popup__content-price {
  margin: 15px 0;
  font-size: 26px;
  font-weight: bold;
  color: var(--tertiary-color);
}

.popup__content-close {
  position: absolute;
  top: -35px;
  right: -30px;
  font-size: 38px;
}

.active {
  display: flex;
}