/* Main content */
.content {
  margin-top: 50px;
  padding: 0 20px 50px 20px;
}

/* Locations Section */
.location-title {
  margin: 0;
  margin-bottom: 25px;
}

/* Orders Section */

.orders {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.orders__title {
  margin: 0;
  margin-bottom: 25px;
}

.orders__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-style: italic;
}

.orders__icon {
  color: #25D366;
  font-size: 20px;
  margin-right: 10px;
}

.orders__number {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
}