/* Main content */
.content {
  padding: 50px 20px 50px 20px;
  background-color: #f6de9b;
}

/* Titles */
.section-title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

/* Products Section */
.products {
  margin-bottom: 60px;
}

/* Location Section */
.location {
  margin-bottom: 60px;
}