.header {
  position: absolute;
  top: 0;
  font-family: "Roboto" sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  color: var(--light-color);
  z-index: 2;
}

.header__menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.header__logo {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.header__menu-item {
  list-style: none;
  width: 100%;
  text-align: center;
  height: 45px;
}

.header__menu-item:hover {
  background-color: var(--secondary-color);
}


.header__menu-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  line-height: 45px;
  font-size: 18px;
}

.header__menu-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

@media screen and (max-width:835px) {
  .header__menu {
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 1px 5px var(--dark-text);
  }

  .header__menu-icon {
    display: block;
  }
}

@media screen and (max-width: 495px) {
  .header__logo {
    width: 80px;
    height: 80px;
    margin-left: 15px;
  }
}

.active {
  transform: translateY(0%);
}